@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;700&display=swap');

:root {
    --background-color-primary: #082032;
    --text-color: #E7F6F2;
    --cta-color: #FF4C29;
    --background-color-secondary: #2C394B;
}

.header {
    width: 100%;
    padding: 24px;

    cursor: pointer;
    position: sticky;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: var(--background-color-primary);
    color: var(--text-color);
    box-shadow: 0px 1px 10px black;

    z-index: 100;
}

@media (max-width:480px) {
    .header {
        padding: 18px;
    }
}