.header {

    width: 100%;
    padding: 24px;

    position: fixed;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: var(--background-color-primary);
    color: var(--text-color);
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.3);

    z-index: 100;
}

.header img {
    cursor: pointer;
}



@media (max-width:480px) {
    .header {
        padding: 18px;
    }
}