.container {
    padding-top: 100px;
    width: 100%;
    background-color: var(--background-color-primary);
    color: var(--text-color);
}

.pageTitle {

    padding: 16px;
}

@media (max-width: 480px) {
    .container {
        padding-top: 80px;
    }
}