.container {
  padding: 100px 0px;
  width: 100%;
  background-color: var(--background-color-primary);
  color: var(--text-color);
}

.movie_tv_list {
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  column-gap: 3.29%;
}

.pageTitle {
  padding: 16px;
  font-size: 1.5rem;
  text-align: left;
  color: var(--text-color);
}

@media (max-width: 480px) {
  .container {
    padding-top: 80px;
  }

  .pageTitle {
    padding: 16px 8px;
  }

  .movie_tv_list {
    justify-content: space-between;
    column-gap: 0%;
  }
}