.container {
  /* position: relative; */
  padding: 100px 0px;
  width: 100%;
  background-color: var(--background-color-primary);
  color: var(--text-color);
}

.movie_tv_list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  column-gap: 3%;
}

.skeleton {
  width: 200px;
  height: 375px;
  margin-bottom: 16px;
  border-radius: 14px;
  background-color: lightgray;
  animation: 1s shine linear infinite alternate;
}

@keyframes shine {
  from {
    opacity: 0.7;
  }

  to {
    opacity: 0.2;
  }
}

.li {
  color: rgb(199, 199, 199);
}

.contentNoBadge {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.contentNoBadge p {
  border-radius: 50px;
  margin: 10px;
  padding: 6px;
  font-size: 14px;
  color: var(--text-color);
  background-color: brown;
}

.pageTitle {
  display: none;
  padding: 16px 8px;
  font-size: 1.5rem;
  text-align: left;
  color: var(--text-color);
}

@media (max-width: 480px) {
  .container {
    padding-top: 80px;
  }

  .pageTitle {
    padding: 16px 8px;
  }

  .movie_tv_list {
    justify-content: space-between;
    padding: 0% 0.5%;
  }

  .skeleton {
    width: 170px;
    height: 300px;
  }
}

@media (max-width: 380px) {
  .skeleton {
    width: 150px;
    height: 300px;
  }
}


.css-1yt7yx7-MuiLoadingButton-loadingIndicator{
  color: white !important;
}